/* Drupal resets */
.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 1.5em;
}
html.js input.form-autocomplete {
  background-position: 100% 7px;
}
html.js input.throbbing {
  background-position: 100% -14px;
}
html.js fieldset.collapsed {
  height: 2em;
}
fieldset {
  margin: 20px 0 10px;
  clear: both;
}
input[type="radio"],
input[type="checkbox"] {
  margin-top: 0;
  margin-right: 3px;
}
ul,
ol,
dl {
  margin: 1.5em 0 1em 25px;
}
ul li.leaf,
ol li.leaf,
dl li.leaf {
  background-image: none;
  list-style-type: none;
  list-style-image: none;
}
ul li.expanded,
ol li.expanded,
dl li.expanded,
ul li.collapsed,
ol li.collapsed,
dl li.collapsed,
ul li.leaf,
ol li.leaf,
dl li.leaf {
  padding: 0;
}
